@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #f0f0f0;
  color: #000;
  font-size: 0.875rem;
  font-family: 'Noto Serif JP', serif;
  margin: 0;
}
a {
  color: #000;
  font-size: 0.875rem;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.logo {
  width: 150px;
  line-height: 1;
  margin-right: 60px;
}
.logo a {
  display: block;
}
.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}
.section-title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}
.section-title .en {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}
.section-title .ja {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 36px;
}
.wrapper {
  width: 100%;
  max-width: 1032px;
  padding: 0 16px;
  margin: 0 auto;
}

/* ヘッダー */
#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .inner {
  display: flex;
  align-items: center;
}
#header ul {
  display: flex;
  align-items: center;
}
#header li {
  margin-right: 30px;
}
#header li:last-child {
  margin-right: 0;
}
#header .contact1 {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #000;
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  display: inline-block;
}
#header .contact1:hover {
  background-color: #333;
}

/* mainvisual */
#mainvisual {
  margin-bottom: 120px;
}
#mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/* about */
#about {
  display: flex;
  margin-bottom: 120px;
}
#about .img {
  width: 55%;
}
#about .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
#about .text {
  width: 45%;
  padding: 180px 5% 0 5%;
}
#about .text p {
  line-height: 1.8;
}

/* work */
#work {
  margin-bottom: 120px;
}
#work .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
#work .flex .left {
  width: 46%;
  margin-top: 100px;
}
#work .flex .right {
  width: 46%;
}
#work .flex .item {
  margin-bottom: 50px;
}
#work .flex .item:last-child {
  margin-bottom: 0;
}
#work .flex .title {
  font-weight: bold;
  margin: 0 0 10px 18px;
  position: relative;
}
#work .zoom-box {
  display: inline-block;
  overflow: hidden;
}
#work .zoom {
  display: block;
  transition-duration: .5s;
}
#work .zoom:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

/* business */
#business {
  margin-bottom: 120px;
}
#business .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}
#business .flex .left {
  width: 46%;
  margin-top: 100px;
}
#business .flex .right {
  width: 46%;
}
#business .flex .item {
  margin-bottom: 50px;
}
#business .flex .item:last-child {
  margin-bottom: 0;
}
#business .flex .title {
  font-weight: bold;
  margin: 0 0 10px 18px;
  position: relative;
}

/* footer */
#footer {
  background-color: #fff;
  padding-bottom: 20px;
}
#footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  line-height: 2;
}
#footer .flex .logo {
  margin-left: 0;
}
#footer .copyright {
  font-size: 0.625rem;
  text-align: center;
}

/** sp */
@media screen and (max-width: 900px) {
  .logo {
    margin: 0;
  }
  .section-title {
    margin-bottom: 34px;
  }
  .section-title .ja {
    margin-bottom: 24px;
  }
  .wrap_original {
    overflow: hidden;
  }

  /** header */
  #header .logo img {
    height: 25px;
    width: 60px;
    margin-top: 15px;
  }
  #header .inner {
    flex-direction: column;
    align-items: flex-start ;
  }
  #header .contact1 {
    display: none;
  }

  /** mainvisual */
  #mainvisual {
    margin-bottom: 80px;
  }

  /** about */
  #about {
    flex-direction: column;
    margin-bottom: 80px;
  }
  #about .img {
    width: 100%;
    margin-bottom: 30px;
  }
  #about .text {
    width: 100%;
    padding: 0 16px;
  }

  /** work */
  #work {
    margin-bottom: 80px;
  }
  #work .flex {
    flex-direction: column;
    padding: 0;
  }
  #work .flex .left {
    width: 100%;
    margin: 0 0 30px 0;
  }
  #work .flex .right {
    width: 100%;
  }
  #work .flex .item {
    text-align: center;
    margin-bottom: 30px;
  }
  #work .flex .title {
    text-align: left;
  }

  /** business */
  #business {
    margin-bottom: 80px;
  }
  #business .flex {
    flex-direction: column;
    padding: 0;
  }
  #business .flex .left {
    width: 100%;
    margin: 0 0 30px 0;
  }
  #business .flex .right {
    width: 100%;
  }
  #business .flex .item {
    text-align: center;
    margin-bottom: 30px;
  }
  #business .flex .title {
    text-align: left;
  }

  /** footer */
  #footer {
    height: 320px;
  }
  #footer .flex {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .flex .logo {
    margin-bottom: 10px;
  }
}